body{
  justify-content: center;
}

.heading{
  font-size: 2rem;
  text-transform: capitalize;
  
}

.card{
  justify-content: space-between;
  justify-items: center;
  gap: 2rem;
 margin-right: 7px;
}

.card> *{
width: 25%;
}

.input, .button {
  font-size: 1rem;
  text-transform: capitalize;
  padding: 2rem 3rem;
  font-weight: 600;
}

.button {
  background-color: #222;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}